.history {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5% 10%;
  width: 100%;
  > .history-header {
    padding: 12px 8px;
    width: 100%;
  }
  > .history-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 12px 0;
    width: 100%;
    > .history-container-row {
      display: flex;
      flex-direction: column;
      margin: 12px 8px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 786px) {
  .history {
    padding: 2.5% 2%;
    > .history-container {
      > .history-container-row {
        width: 100%;
        margin: 6px 4px;
      }
    }
  }
}