.pagination {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  > .pagination-control {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    > img {
      height: 16px;
      width: 16px;
      margin: 0 8px;
    }
  }
  > .pagination-pages {
    display: flex;
    flex-direction: row;
    > .pagination-page {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0 2px;
      cursor: pointer;
      border-radius: 8px;
      color: $dark-color;
    }
    > .pagination-page.current {
      color: $light-color;
      background-color: $dark-color;
    }
    > .pagination-page:hover {
      background-color: $neutral-color;
      color: $dark-color;
    }
  }
}