.popup {
  height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  position: fixed;
  bottom: 0;
  transition: all 0.5s;
  cursor: pointer;
  > span {
    color: $light-color;
  }
}
.popup.open {
  height: 48px;
}